<div class="container-fluid">
  <div class="row mein">
    <div class="col-md-12 text-center">
      <img src="/assets/logo.png" class="logo" alt="LOGO">
    </div>
    <div class="col-md-12 text-center">
      <section class="text-muted superior">
        <h1>Experience the authority</h1>
      </section>
      <button class="w-75" mat-raised-button (click)="openDialog()">Detect Device</button>
    </div>
    <div class="col-md-12 text-center text-muted">
      <button mat-button (click)="infoButton()">
        What is this? <mat-icon mat-list-icon class="mt-1" style="font-size: larger">help_outline</mat-icon>
      </button>
    </div>

  </div>
</div>