<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <!-- <mat-nav-list>
      <a mat-list-item href="#"><mat-icon>home</mat-icon><span style="padding-left: 10px">Home</span></a>
      <a mat-list-item href="#"><mat-icon>cloud_download</mat-icon> <span style="padding-left: 10px">Downloads</span></a>
      <a mat-list-item href="#"><mat-icon>info</mat-icon><span style="padding-left: 10px">About</span></a>
    </mat-nav-list> -->
    <mat-nav-list>
      <a routerLink="/" (click)="toggal() ? drawer.toggle() : null" id="home">
        <mat-list-item class="parent">
          <span class="full-width">Home</span>
          <mat-icon mat-list-icon>home</mat-icon>
        </mat-list-item>
      </a>

      <a routerLink="/team">
        <mat-list-item class="parent">
          <span class="full-width">Team</span>
          <mat-icon mat-list-icon>group</mat-icon>
        </mat-list-item>
      </a>
      
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Downloads</span>
        <mat-icon mat-list-icon>cloud_download</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more
        </mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item routerLink="/downloads/pie" (click)="toggal() ? drawer.toggle() : null" id="pie">Pie</a>
      </div>
      <footer class="fixed-bottom">
        <sup>
          Made with <i class="fa fa-heart" aria-hidden="true" style="color:red"></i> by <a href="http://swapnilsoni.me" target="_blank" rel="noopener noreferrer" class="swapnil">Swapnil Soni</a>
        </sup>
      </footer>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Superior OS</span>
    </mat-toolbar>
    <!-- Add Content Here --> 
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
